[submodule "submodules/schema"]
    path = submodules/schema
    url = ../../general/schema
[submodule "submodules/cdtools"]
    path = submodules/cdtools
    url = ../../general/cdtools
[submodule "submodules/prometheus"]
	path = submodules/prometheus
	url = ../../general/prometheus
[submodule "submodules/tracing"]
    path = submodules/tracing
    url = ../../general/tracing
[submodule "submodules/log"]
    path = submodules/log
    url = ../../general/log
[submodule "submodules/config"]
	path = submodules/config
	url = ../../general/config
