[submodule "submodules/log"]
	path = submodules/log
	url = ../../general/log.git
[submodule "submodules/protos"]
	path = submodules/protos
	url = ../../general/protos.git
[submodule "submodules/cdtools"]
	path = submodules/cdtools
	url = ../../general/cdtools.git
[submodule "submodules/schema"]
	path = submodules/schema
	url = ../../general/schema.git
[submodule "submodules/subscriber"]
	path = submodules/subscriber
	url = ../../general/subscriber.git
