[submodule "submodules/httputil"]
	path = submodules/httputil
	url = ../../general/httputil.git
[submodule "submodules/api-openapi-spec"]
	path = submodules/api-openapi-spec
	url = ../../documentation/api-openapi-spec.git
[submodule "submodules/config"]
	path = submodules/config
	url = ../../general/config.git
[submodule "submodules/log"]
	path = submodules/log
	url = ../../general/log.git
[submodule "submodules/wmf"]
	path = submodules/wmf
	url = ../../general/wmf.git
[submodule "submodules/structured-contents-parser"]
	path = submodules/structured-contents-parser
	url = ../../general/structured-contents-parser.git
[submodule "submodules/schema"]
	path = submodules/schema
	url = ../../general/schema.git
