[submodule "submodules/cdtools"]
	path = submodules/cdtools
	url = ../../general/cdtools
[submodule "submodules/httputil"]
	path = submodules/httputil
	url = ../../general/httputil.git
[submodule "submodules/log"]
	path = submodules/log
	url = ../../general/log.git
