[submodule "submodules/schema"]
	path = submodules/schema
	url = ../../general/schema.git
[submodule "submodules/ksqldb"]
	path = submodules/ksqldb
	url = ../../general/ksqldb.git
[submodule "submodules/custom-images"]
	path = submodules/custom-images
	url = ../../infrastructure/custom-images
[submodule "submodules/cdtools"]
	path = submodules/cdtools
	url = ../../general/cdtools
[submodule "submodules/api-openapi-spec"]
	path = submodules/api-openapi-spec
	url = ../../documentation/api-openapi-spec.git
[submodule "submodules/httputil"]
	path = submodules/httputil
	url = ../../general/httputil.git
[submodule "submodules/log"]
	path = submodules/log
	url = ../../general/log.git
