[submodule "submodules/protos"]
	path = submodules/protos
	url = ../../general/protos.git
[submodule "submodules/schema"]
	path = submodules/schema
	url = ../../general/schema.git
[submodule "submodules/cdtools"]
	path = submodules/cdtools
	url = ../../general/cdtools.git
[submodule "submodules/config"]
	path = submodules/config
	url = ../../general/config.git
[submodule "submodules/tracing"]
	path = submodules/tracing
	url = ../../general/tracing.git
[submodule "submodules/log"]
	path = submodules/log
	url = ../../general/log.git
